@model List<Datis.Models.TopMenuVM>
<!-- right Part Start-->
<aside id="column-left" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">دسته بندی ها</h3>
    <div class="box-category">
        <ul id="cat_accordion">
            @foreach (var item in Model)
            {
                <li d-brand-id="@item.BrandId">
                    <a href="@Url.Action("Index", "Brand", new { Id = item.BrandId, BrandTitle = item.BrandName.Replace(" ", "-") })">@item.BrandName</a> 
                    <span class="down"></span>
                    <ul class="cats">
                        @foreach (var item2 in item.Categories)
                        {
                            <li d-id="@item2.CatId">
                                <a href="@Url.Action("Index", "Category", new { Id = item2.CatId, CategoryTitle = item2.Name.Replace(" ", "-") })">@item2.Name</a> 
                                @if (item2.Children.Count > 0) {
                                <span class="down"></span>
                                <ul>
                                    @foreach (var item3 in item2.Children)
                                    {
                                        <li d-id="@item3.CatId">
                                            <a href="@Url.Action("Index", "Category", new { Id = item3.CatId, CategoryTitle = item3.Name.Replace(" ", "-") })">@item3.Name</a> 
                                            
                                            
                                        </li>
                                    }
                                </ul>
                                }
                            </li>
                        }
                    </ul>
                </li>

            }
        </ul>
    </div>
    @*<h3 class="subtitle">پرفروش ترین ها</h3>
        <div class="side-item">
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/apple_cinema_30-50x50.jpg" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Brand Fashion Cotton T-Shirt</a></h4>
                    <p class="price"><span class="price-new">$110.00</span> <span class="price-old">$122.00</span> <span class="saving">-10%</span></p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/iphone_1-50x50.jpg" alt="iPhone5" title="iPhone5" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">iPhone5</a></h4>
                    <p class="price"> $123.20 </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_1-50x50.jpg" alt="Ideapad Yoga 13-59341124 Laptop" title="Ideapad Yoga 13-59341124 Laptop" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Ideapad Yoga 13-59341124 Laptop</a></h4>
                    <p class="price"> $2.00 </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/sony_vaio_1-50x50.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></h4>
                    <p class="price"> <span class="price-new">$902.00</span> <span class="price-old">$1,202.00</span> <span class="saving">-25%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/FinePix-Long-Zoom-Camera-50x50.jpg" alt="FinePix S8400W Long Zoom Camera" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">FinePix S8400W Long Zoom Camera</a></h4>
                    <p class="price">$122.00</p>
                </div>
            </div>
        </div>
        <h3 class="subtitle">محصولات ویژه</h3>
        <div class="side-item">
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_pro_1-50x50.jpg" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop " class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Strategies for Acquiring Your Own Laptop</a></h4>
                    <p class="price"> <span class="price-new">$1,400.00</span> <span class="price-old">$1,900.00</span> <span class="saving">-26%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/samsung_tab_1-50x50.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                    <p class="price"> <span class="price-new">$230.00</span> <span class="price-old">$241.99</span> <span class="saving">-5%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/apple_cinema_30-50x50.jpg" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="http://demo.harnishdesign.net/opencart/marketshop/v1/index.php?route=product/product&amp;product_id=42">Brand Fashion Cotton T-Shirt</a></h4>
                    <p class="price"> <span class="price-new">$110.00</span> <span class="price-old">$122.00</span> <span class="saving">-10%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/nikon_d300_1-50x50.jpg" alt="Digital Camera for Elderly" title="Digital Camera for Elderly" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Digital Camera for Elderly</a></h4>
                    <p class="price"> <span class="price-new">$92.00</span> <span class="price-old">$98.00</span> <span class="saving">-6%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/nikon_d300_5-50x50.jpg" alt="Hair Care Products" title="Hair Care Products" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Hair Care Products</a></h4>
                    <p class="price"> <span class="price-new">$66.80</span> <span class="price-old">$90.80</span> <span class="saving">-27%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_air_1-50x50.jpg" alt="Laptop Silver black" title="Laptop Silver black" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Laptop Silver black</a></h4>
                    <p class="price"> <span class="price-new">$1,142.00</span> <span class="price-old">$1,202.00</span> <span class="saving">-5%</span> </p>
                </div>
            </div>
        </div>*@
    @*<div class="list-group">
            <h3 class="subtitle">Custom Content</h3>
            <p>This is a CMS block edited from admin. You can insert any content (HTML, Text, Images) Here. </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="banner owl-carousel">
            <div class="item"> <a href="#"><img src="~/Content/shop/image/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive" /></a> </div>
            <div class="item"> <a href="#"><img src="~/Content/shop/image/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive" /></a> </div>
        </div>
        <h3 class="subtitle">Latest</h3>
        <div class="side-item">
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/iphone_6-50x50.jpg" alt="Hair Care Cream for Men" title="Hair Care Cream for Men" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Hair Care Cream for Men</a></h4>
                    <p class="price"> $134.00 </p>
                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/nikon_d300_5-50x50.jpg" alt="Hair Care Products" title="Hair Care Products" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Hair Care Products</a></h4>
                    <p class="price"> <span class="price-new">$66.80</span> <span class="price-old">$90.80</span> <span class="saving">-27%</span> </p>
                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/nikon_d300_4-50x50.jpg" alt="Bed Head Foxy Curls Contour Cream" title="Bed Head Foxy Curls Contour Cream" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Bed Head Foxy Curls Contour Cream</a></h4>
                    <p class="price"> $88.00 </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_5-50x50.jpg" alt="Shower Gel Perfume for Women" title="Shower Gel Perfume for Women" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Shower Gel Perfume for Women</a></h4>
                    <p class="price"> <span class="price-new">$95.00</span> <span class="price-old">$99.00</span> <span class="saving">-4%</span> </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_4-50x50.jpg" alt="Perfumes for Women" title="Perfumes for Women" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Perfumes for Women</a></h4>
                    <p class="price"> $85.00 </p>
                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_3-50x50.jpg" alt="Make Up for Naturally Beautiful Better" title="Make Up for Naturally Beautiful Better" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Make Up for Naturally Beautiful Better</a></h4>
                    <p class="price"> $123.00 </p>
                </div>
            </div>
            <div class="product-thumb clearfix">
                <div class="image"><a href="product.html"><img src="~/Content/shop/image/product/macbook_2-50x50.jpg" alt="Pnina Tornai Perfume" title="Pnina Tornai Perfume" class="img-responsive" /></a></div>
                <div class="caption">
                    <h4><a href="product.html">Pnina Tornai Perfume</a></h4>
                    <p class="price"> $110.00 </p>
                </div>
            </div>
        </div>*@
</aside>
<!-- right Part End-->
@section scripts{

}