@model Datis.Data.LocalPasswordModel
@{
    ViewBag.Title = "تغییر رمز عبور";
}


<div class="container" style=" margin-top: 10px;">

    <!-- Breadcrumb End-->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 " style="text-align: center;margin-bottom: 100px;">
            <h2 class="section_header fancy centered">تغییر رمز عبور<small>@User.Identity.Name</small></h2>
            <div class="container">
                <section>
                    <div class="row">
                        <div class="office_address col-sm-6 col-md-4">
                            <div class="team_member">
                                <img src="~/Content/Theme/images/logo.png" alt="logo">
                                <h5>شرکت پویش رایان داتیس</h5>
                                <small>نمایندگی مانیتورهای صنعتی و تجاری LG و دوربین های مداربسته Briton</small><br>
                                <address>
                                    ایران تهران<br>
                                    پاسداران خیابان هاتف اصفهانی بن بست پریسا پلاک 5
                                    <br>
                                </address>
                                <abbr title="Phone">تلفن:</abbr> 22566223<br>
                                <abbr title="Phone">تلفن:</abbr> 22768667<br>
                                <abbr title="Phone">ایمیل:</abbr> <a href="mailto:#">info@datisint.com</a>
                            </div>
                        </div>
                        <div class="contact_form col-sm-6 col-md-8">
                            @using (Html.BeginForm("Manage", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.OldPassword)
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.OldPassword)
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.NewPassword)
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <br />
                                        <p id="res"></p>
                                        <input type="submit" value="ثبت" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/shop/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/shop/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@*@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}*@
