@using Datis
@model Datis.Data.AgancyMetadata
@{
    ViewBag.Title = "درخواست اخذ نمایندگی پرادا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @*<link rel="stylesheet" type="text/css" href="~/Content/shop/js/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/shop/css/font-awesome/css/font-awesome.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/shop/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/shop/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/shop/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/shop/css/responsive.css" />
    <style type="text/css">
        .navbar.navbar-grey-light {
            background-color: transparent;
            border-color: transparent;
        }

            .navbar.navbar-grey-light .navbar-collapse {
                background-color: transparent;
            }

            .navbar.navbar-grey-light .navbar-nav > li > a {
                background-color: transparent;
            }

        .carousel li {
            margin-right: 0;
        }

        .logo a.brand {
            height: 45px;
        }

            .logo a.brand img {
                height: 45px;
            }

        .navbar-nav > li > a > span {
            font-size: 12px;
        }

        .logo {
            margin-top: 0px;
        }

        .navbar {
            margin-bottom: 3px;
        }

            .navbar.navbar-grey-light .dropdown-menu li.dropdown-header {
                color: #e10e4f;
            }

        @@media only screen and (max-width: 991px) {
            header .logo {
                margin-top: 0px;
            }

            .navbar {
                margin-bottom: 0px;
            }
        }

        a, p, h3 {
            font-family: 'BaharFont','Open Sans';
        }

        #cat_accordion {
            direction: rtl;
        }

        p.description {
            font-size: 16px;
            font-style: normal;
        }

        .product-list .product-thumb h4 a {
            font-size: 22px;
        }

        .field-validation-error {
            direction: rtl;
            color: red;
        }

            .validation-summary-errors ul {
                list-style: none;
            }
    </style>
}
@section header{
    <div class="full_page_photo no_photo">
        @Html.Raw(Helpers.GetHeaderIamge("Agancies"))
        <div class="container">
            <div class="hgroup">
                <div class="hgroup_title animated bounceInUp skincolored">
                    <div class="container">
                        <h1>درخواست اخذ نمایندگی</h1>
                    </div>
                </div>
                <div class="hgroup_subtitle animated bounceInUp ">
                    <div class="container">
                        <p>شرکت پویش رایان داتیس</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="container" style=" margin-top: 10px;">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb" style="direction:rtl;">
        <li itemscope itemtype=""><a href="@Url.Action("Index", "Home")" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a></li>
        <li itemscope itemtype=""><a href="@Url.Action("Repair", "AfterSaleServices")" itemprop="url"><span itemprop="title">فرم درخواست اخذ نمایندگی</span></a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 " style="text-align: center;margin-bottom: 100px;">
            <h2 class="section_header fancy centered">فرم مشخصات<small></small></h2>
            <div class="container">
                <section>
                    <div class="row">
                        <div class="office_address col-sm-6 col-md-4">
                            <div class="team_member">
                                <img src="~/Content/Theme/images/logo.png" alt="logo">
                                <h5>شرکت پویش رایان داتیس</h5>
                                <small>فرم اخذ نمایندگی</small><br>
                                <p>
                                    داتیس نمایندگی رسمی مانیتورهای صنعتی و تجاری LG و نمایندگی انحصاری دوربین های مدار بسته Briton
                                    از کلیه شرکت های فعال در زمینه نصب و فروش تجهیزات مداربسته و مانیتورهای صنعتی و تجاری برای اخذ نمایندگی دعوت به عمل می آورد.
                                    همکاران و شرکت هایی که تمایل به همکاری و اخذ نمایندگی محصولات را دارند میتوانند در 2 گروه عاملین پخش محصولات و شرکت های مجری پروژه های سیستم های مداربسته اقدام به اخذ نمایندگی نموده و از مزایای ویژه برای خرید محصولات بهره مند گردند.
                                </p>
                            </div>
                        </div>
                        <div class="contact_form col-sm-6 col-md-8">
                            @using (Html.BeginForm("Index", "Agancies", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row">
                                    @if (ViewBag.Success != null)
                                    {
                                        <p class="alert alert-success" id="successMessage">@ViewBag.Success</p>
                                    }
                                    else if (ViewBag.Error != null)
                                    {
                                        <p class="alert alert-danger">@ViewBag.Error</p>

                                    }
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.NameSherkatForushgah)
                                        @Html.TextBoxFor(m => m.NameSherkatForushgah, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NameSherkatForushgah)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.NameModiramelMasool)
                                        @Html.TextBoxFor(m => m.NameModiramelMasool, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NameModiramelMasool)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Ostan)
                                        @Html.DropDownListFor(m => m.Ostan, (List<SelectListItem>)ViewBag.states, "انتخاب استان", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Ostan)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Shahrestan)
                                        @Html.DropDownListFor(m => m.Shahrestan, new List<SelectListItem>(), "انتخاب شهر", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Shahrestan)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.Address)
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Address)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Mobile)
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Mobile)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Fax)
                                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Fax)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.Tel)
                                        @Html.TextBoxFor(m => m.Tel, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Tel)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.RegisterDate)
                                        @Html.TextBoxFor(m => m.RegisterDate, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.RegisterDate)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.RegisterPlace)
                                        @Html.TextBoxFor(m => m.RegisterPlace, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.RegisterPlace)
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.JavazOrAsasnamehFile)
                                        <span style="float:right"> (.pdf .jpg .png) </span>
                                        @Html.TextBoxFor(m => m.JavazOrAsasnamehFile, new { @class = "form-control", type = "file" })
                                        @Html.ValidationMessageFor(m => m.JavazOrAsasnamehFile)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        @Html.LabelFor(m => m.TedadPersonnelFanni)
                                        @Html.TextBoxFor(m => m.TedadPersonnelFanni, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TedadPersonnelFanni)
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        @Html.LabelFor(m => m.TedadPersonnelEdari)
                                        @Html.TextBoxFor(m => m.TedadPersonnelEdari, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TedadPersonnelEdari)
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        @Html.LabelFor(m => m.TedadPersonnelForush)
                                        @Html.TextBoxFor(m => m.TedadPersonnelForush, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TedadPersonnelForush)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.ProjeAnjamDadeid)
                                        @Html.TextBoxFor(m => m.ProjeAnjamDadeid, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProjeAnjamDadeid)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.NamayandegBrandDashte)
                                        @Html.TextBoxFor(m => m.NamayandegBrandDashte, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.NamayandegBrandDashte)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.TavanayiSaliane)
                                        @Html.TextBoxFor(m => m.TavanayiSaliane, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TavanayiSaliane)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12" style="text-align:right">
                                        @Html.LabelFor(m => m.AshnayiBaPrada)
                                        @Html.TextBoxFor(m => m.AshnayiBaPrada, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.AshnayiBaPrada)
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:0px">
                                    <div class="col-sm-12 col-md-12">
                                        @Html.LabelFor(m => m.EjareShakhsi)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(m => m.EjareShakhsi, 0, new { @class = "radio" }) اجاره
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButtonFor(m => m.EjareShakhsi, 1, new { @class = "radio" }) شخصی
                                                @Html.ValidationMessageFor(m => m.EjareShakhsi)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:0px">
                                    <div class="col-sm-12 col-md-12" style="text-align:right;direction:rtl">
                                        جهت اخذ نمایندگی توانایی ارائه چه نوع ضمانت هایی را دارید؟ (مالتی چک)
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:0px">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.SanadMelki, new { @class = "" })
                                                @Html.DisplayNameFor(m => m.SanadMelki)
                                                @Html.ValidationMessageFor(m => m.SanadMelki)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.Safte, new { @class = "" })
                                                @Html.DisplayNameFor(m => m.Safte)
                                                @Html.ValidationMessageFor(m => m.Safte)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.CheckeZemanat, new { @class = "" })
                                                @Html.DisplayNameFor(m => m.CheckeZemanat)
                                                @Html.ValidationMessageFor(m => m.CheckeZemanat)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.ZemanatNamehBanki, new { @class = "" })
                                                @Html.DisplayNameFor(m => m.ZemanatNamehBanki)
                                                @Html.ValidationMessageFor(m => m.ZemanatNamehBanki)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.VajhNaghd, new { @class = "" })
                                                @Html.DisplayNameFor(m => m.VajhNaghd)
                                                @Html.ValidationMessageFor(m => m.VajhNaghd)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        @Html.LabelFor(m => m.PrintGardeshFile)
                                        <span style="float:right"> (.pdf .jpg .png) </span>
                                        @Html.TextBoxFor(m => m.PrintGardeshFile, new { @class = "form-control", type = "file" })
                                        @Html.ValidationMessageFor(m => m.PrintGardeshFile)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>کد امنیتی</label>
                                        <input name="captcha" id="Captcha" class="form-control" type="text" value="">
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div>
                                            <label>حاصل جمع؟</label>
                                            <div style="width: 100%; clear: both; text-align: right;">
                                                <a class="ref"><i class="fa fa-refresh" aria-hidden="true" style="vertical-align: middle;height: 30px; cursor:pointer"></i></a>
                                                <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha", new { prefix = "Agancy" })" s style="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <button class="btn btn-primary">ارسال درخواست</button>
                                        @*<a id="submit_btn" class="btn btn-primary" name="submit">ارسال درخواست</a>*@ <span id="notice" class="alert alert-warning alert-dismissable hidden" style="margin-left:20px;"></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/shop/js/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $('.ref').click(function () {
                var BASE_URL = '@Url.Content("~/")';
                var random = new Date();
                $.ajax({
                    url: '@Url.Action("CaptchaImage", "Captcha")',
                    type: 'GET',
                    data:
                    {
                        prefix: "Agancy"
                    },
                })
                    .done(function (functionResult) {
                        $("#imgcpatcha").attr("src", BASE_URL + "Captcha/CaptchaImage?prefix=Agancy");
                    });
            });

            $('#FactorDate').mask("9999/99/99");
        });

        var url = '@Url.Action("CityLookup", "AfterSaleServices")'; // Don't hard code your url's!
        var cities = $('#Shahrestan'); // cache it
        $("#Ostan").change(function () {
            var id = $(this).val(); // Use $(this) so you don't traverse the DOM again
            $.getJSON(url, { stateId: id }, function (response) {
                cities.empty(); // remove any existing options
                var selected;
                $.each(response, function (index, item) {

                    if (index == 0)
                        selected = item.id;
                    cities.append('<option value="' + item.Id + '">' + item.Title + '</option>');
                });
                cities.val(selected);
            });
        });

        $('#RegisterDate').mask("9999/99/99");
    </script>

}
